<div class="row">
  <div class="card" id="{{article._id}}">
      <div class="card-header">
        <h2 class="card-title">{{article.title}}</h2>
      </div>

      <div class="card-body">
        <p class="card-text">{{article.summary}}</p>
        <a href="{{article.link}}" class="btn btn-warning">Original Article</a>
      </div>

      <div class="card-footer text-muted">
          <form action="/articles/{{article._id}}" method="POST" class="formInput">
            <div class="form-group">
              <input type="text" class="form-control" id="titleInput" placeholder="Name">
            </div>
            <div class="form-group">
              <input class="form-control" id="bodyInput" rows="3" placeholder="Leave Comment Here">
            </div> 
            <button type="submit" class="btn btn-info" >Submit</button>
          </form>
      </div>
  </div>
</div>
<div class="row pt-2">
  <div class="">
    <h2 class="comments">Comments:</h2>
    {{#if article.comment}}
    {{#each article.comment}}
    <div class="card">
      <p id="commentTitle">{{title}}</p>
      <p id="commentBody">{{body}}</p>
      <button class="btn btn-danger delete" data-id="{{article.comment._id}}">Delete</button>
    </div>
    {{/each}}
    {{else}}
    <p>No comments yet but you could leave one!</p>
    {{/if}}
  </div>
</div>
