<div>
  <h2 class="text-center">Check What's Happening at Slashdot</h2>
</div>

<div class="row"></div>
  <div class="">
    <div id="articles">
      {{#each article}}
      <div class="card m-3" id="{{this._id}}">
        <div class="card-body">
          <h4 class="card-title"><strong>{{this.title}}</strong></h4>
          <a href="/delete/{{this._id}}" id="{{this._id}}"
           class="card-link delete-art text-danger float-right mx-2 px-2 border border-danger rounded">Delete</a>
          <a href="/articles/{{this._id}}" id="read-art" class="card-link text-warning float-right mx-2 px-2 border border-warning rounded">Read</a>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>







